<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proiect Andreea</title>
        <link rel="stylesheet" href="../CSS/index.css">
    </head>    
    <body>
        <nav class="nav">
            <a href="./Home.html" class="nav__link" data-link>Home</a>
            <a href="./CV.html" class="nav__link" data-link>My CV</a>
            <a href="./MyProjects.html" class="nav__link" data-link>My Projects</a>
        </nav>
        <div id="app"></div>
        <script type="module" src="./js/MyProjects.js"></script>
    </body>
</html>